<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
                <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username"
                           lay-verify="required" lay-reqtext="用户名不能为空"
                           placeholder="请输入用户名" value="" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password"
                           lay-verify="required" lay-reqtext="密码不能为空"
                           placeholder="请输入密码" value="" class="layui-input"/>
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">角色</label>
                    <div class="layui-input-block">
                        <select name="role"
                                lay-verify="required" lay-reqtext="角色不能为空">
                            <option value="">请选择角色</option>
                                <option value="user">用户</option>
                        </select>
                    </div>
                </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">身高</label>
                <div class="layui-input-block">
                    <input type="text" name="height"
                           
                           placeholder="请输入身高" value="" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">体重</label>
                <div class="layui-input-block">
                    <input type="text" name="weight"
                           
                           placeholder="请输入体重" value="" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">胸围</label>
                <div class="layui-input-block">
                    <input type="text" name="bra"
                           
                           placeholder="请输入胸围" value="" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">腰围</label>
                <div class="layui-input-block">
                    <input type="text" name="yao"
                           
                           placeholder="请输入腰围" value="" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label ">臀围</label>
                <div class="layui-input-block">
                    <input type="text" name="ass"
                           
                           placeholder="请输入臀围" value="" class="layui-input"/>
                </div>
            </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save-btn">立即提交</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate', 'upload'], function () {
        let form = layui.form,
            $ = layui.$,
            laydate = layui.laydate,
            upload = layui.upload

        //监听提交
        form.on('submit(save-btn)', function (data) {
            $.ajax({
                url: '/user/add',
                type: 'post',
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                success: function () {
                    let iframeIndex = parent.layer.getFrameIndex(window.name)
                    parent.layer.close(iframeIndex)
                }
            })
            return false
        })
    })
</script>
</body>
</html>