<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <input type="hidden" name="id" th:value="${cloth.id}">
            <div class="layui-form-item">
                <label class="layui-form-label ">名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" th:value="${cloth.name}"
                           
                           placeholder="请输入名称" class="layui-input"/>
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label ">分类</label>
                    <div class="layui-input-block">
                        <select name="typeId"
                                >
                            <option value="">请选择分类</option>
                        </select>
                    </div>
                </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">图片</label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="upload-image">选择文件</button>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>大小</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="file-list-image"></tbody>
                        </table>
                    </div>
                    <button type="button" class="layui-btn" id="upload-btn-image">开始上传</button>
                </div>
                <input name="image" type="text" hidden th:value="${cloth.image}">
            </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认修改</button>
        </div>
    </div>
</div>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['form', 'laydate', 'upload'], function () {
        let form = layui.form,
            $ = layui.$,
            laydate = layui.laydate,
            upload = layui.upload
        $.ajax({
            type: 'post',
            url: '/type/list',
            data: JSON.stringify({}),
            contentType: 'application/json',
            success: function (data) {
                data.data.forEach(it => {
                    if (it.id === [[${cloth.typeId}]]) {
                        $('select[name=typeId]').append(`<option value="${it.id}" selected>${it.name}</option>`)
                    } else {
                        $('select[name=typeId]').append(`<option value="${it.id}">${it.name}</option>`)
                    }
                })
                form.render('select')
            }
        })
        //多文件列表示例
        let imageListImage = $('#file-list-image')
        let uploadListInsImage = upload.render({
            elem: '#upload-image',
            url: '/upload',
            accept: 'file',
            multiple: false,
            auto: false,
            bindAction: '#upload-btn-image',
            choose: function (obj) {
                let files = this.files = obj.pushFile() //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file) {
                    let tr = $(`
                        <tr id="upload-${index}">
                            <td>${file.name}</td>
                            <td>${(file.size / 1024).toFixed(1)}kb</td>
                            <td>等待上传</td>
                            <td>
                                <button class="layui-btn layui-btn-xs reload-btn layui-hide">重传</button>
                                <button class="layui-btn layui-btn-xs layui-btn-danger delete-btn">删除</button>
                            </td>
                        </tr>
                    `)
                    //单个重传
                    tr.find('.reload-btn').on('click', function () {
                        obj.upload(index, file)
                    })

                    //删除
                    tr.find('.delete-btn').on('click', function () {
                        delete files[index] //删除对应的文件
                        tr.remove()
                        uploadListInsImage.config.elem.next()[0].value = '' //清空 input file 值，以免删除后出现同名文件不可选
                    })
                    imageListImage.append(tr)
                })
            },
            done: function (res, index) {
                let tr = imageListImage.find(`tr#upload-${index}`),
                    tds = tr.children()
                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>')
                tds.eq(3).html('') //清空操作
                $('input[name=image]').val(res.data.fileName)
                return delete this.files[index] //删除文件队列已经上传成功的文件
            },
            error: function () {
                let tr = imageListImage.find(`tr#upload-${index}`),
                    tds = tr.children()
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>')
                tds.eq(3).find('.reload-btn').removeClass('layui-hide') //显示重传
            }
        })

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/cloth/update',
                type: 'put',
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                success: function () {
                    let iframeIndex = parent.layer.getFrameIndex(window.name)
                    parent.layer.close(iframeIndex)
                }
            })
            return false
        })
    })
</script>
</body>
</html>